@media (max-width:1200px){
.logo-row img{
        width: 17vw;

    }
    .logo-row{
        gap: 4vw;
        padding: 1vw 1vw;
    }

    
}
@media (max-width:1040px){
    .logo-row img{
            width: 17vw;
    
        }
        .logo-row{
            gap: 3vw;
            padding: 1vw 1vw;
            width: 88%;
        }
    
 }
 @media (max-width:850px){
    .logo-row img{
            width: 15vw;
    
        }
        .logo-row{
            gap: 4vw;
            padding: 1vw 1vw;
        }
}
/* --------------------------mbl-------------------------- */
@media (max-width:600px){
p{
    font-size: 2.5vw;
}
    .logo-row img{
            width: 14vw;
    
        }
        .logo-row{
            gap: 4vw;
            padding: 2vw 1vw;
            width: 100%;
        }
    
        
    
#two{
        width:17vw;
    }   
    #three{
        width:16vw;
}
.icns img{
    width: 8vw;
    cursor: pointer;
    transition: .6s;
}
.icns img:hover{
    transform: translateX(-.6vw);
}
.text{
    transform: translateY(-1vw);
} 
.text .h1{
    width: 32vw;
}
.text .h2{
    width: 22vw;
    transform: translateY(-7.2vw);
}  
.headr-sec{
    background-image: url(../images/hdr.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90vw;
}
.headr-sec .icns{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: end;
    padding: .6vw 3vw;
    gap: .8vw;
    transform: translateY(2vw);
}
.about-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 7vw;
}
.about-row .left{
    width: 100%;
    margin: auto;

}
.about-row .left img{
    width: 55vw;
    display: flex;
    margin: auto;
}
.about-row .right{
    width: 100%;
    margin: auto;
    text-align: center;
}
.about-row .right .h3{
    width: 38vw;
}
.about-row .right p{
    width: 65%;
    color: #fff;
    line-height: 3.5vw;
    margin: auto; 
}
.c1{
    position: absolute;
    width: 100vw;
    z-index: -1;
    top: -6%;
    left: -4%;
}

.about-row .right .btn{
    width: 15vw;
    margin-top: 2vw;
    transition: .5s;
}
.prgss {
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content: center;
    flex-direction: column;
}
.prgss p{
    font-size: 2.2vw;
    color: #fff;
    width: 90%;
    line-height: 3vw;

}
.upr .h5{
    width: 25vw;
    text-align: center;
    margin: auto;
}
.story-sec{
    position: relative;
    width: 100%;
    margin-top: 16vw;
}
.butn{
    position: absolute;
    width: 15vw;
    left: 39%;
    top: 96%;
}
.story-box{
    background-image: linear-gradient(to top, #2e2352 95%, #9f54a7 108%);
    /* background-color: #2e2352; */
    width: 70%;
    margin: auto;
    border: 1px solid #9f54a7;
    box-shadow: 1px -1px 10px #9f54a7;
    border-radius: 1vw;
    padding: 3vw 4vw;
    height: 100%;
    position: relative;

}
.token-sec{
    margin-top: 18vw;
}
.token-sec .tkn{
    width: 44vw;
    margin: auto;
}
.tkn-box .frst span{
    font-size: 2.3vw;
    color: #f9f8fa;
    font-family: prg;
    text-align: center;

}
.tkn-box .frst p{
    font-size: 3vw;
    color: #f9f8fa;
    font-family:hd;

}
.tkn-box{
    padding: 2vw;
}
.tkn-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6vw;
    margin-top: 4vw;
    flex-direction: column;

}
.tkn-row  .boxs1{
    width: 60%;
    padding:2.6vw 1vw;
    background-color:#464597;
    text-align: center;
    border-radius: 1.5vw;
}
.tkn-row  .boxs1 img{
    width: 53vw;
}
.tkn-row  .boxs1 .btin1{
    width: 45vw;
    padding: 2.2vw;
    border: none;
    background-color: #ffee88;
    font-size: 5vw;
    font-family: hd;
    border-radius: 1.3vw;
    margin: 1vw;
    color: #000;
    border: 1px solid #000;

}
.tkn-row  .boxs1 .btin2{
    width: 45vw;
    padding: 2.2vw;
    border: none;
    background-color:#4ff2d8;
    font-size: 5vw;
    font-family: hd;
    border-radius: 1.3vw;
    margin: 1vw;
    color: #000;
    border: 1px solid #000;

}
.tkn-row  .boxs1 .btin3{
    width: 45vw;
    padding: 2.2vw;
    border: none;
    background-color:#e577e6;
    font-size: 5vw;
    font-family: hd;
    border-radius: 1.3vw;
    margin: 1vw;
    color: #fff;
    border: 1px solid #000;

}



.road-sec{
    position: relative;
    width: 100%;
    margin-top: 14vw;
}
.c5{
    position: absolute;
    width: 70vw;
    z-index: -1;
    left: 15%;
    top: -14%;
}
.c6{
    position: absolute;
    width: 38vw;
    top: 5%;
    left: -5%;
}
.texts .t1 img{
    width: 40vw;
    transform: translateY(1.3vw);
    
}
.t2 img{
    width: 44vw;
    transform: translateY(2vw);
    
}
.opr img{
    width: 56vw;
}
.don .fist img{
    width: 38vw;
    /* transform: translateX(-1vw);  */
    display: flex;
    margin: auto;
}
.don .fist{
    width: 100%;
}
.don .scund{
    width: 100%;
}
.don .scund img{
    width: 56vw;
}
.opr{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    flex-direction: column;
}
.don{
    flex-direction: column-reverse;
    gap: 2vw;
}
.tkn-imgs{
    gap: 2vw;
}
.join-box{
    background-image: linear-gradient(to top, #2e2352 95%, #9f54a7 108%);
    /* background-color: #2e2352; */
    width: 78%;
    margin: auto;
    border: 1px solid #9f54a7;
    box-shadow: 1px -1px 15px #9f54a7;
    border-radius: 1vw;
    padding: 9vw 4vw;
    height: 34vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(5vw);

}
.join-box .lfts .h8{
    width: 18vw;
}
.join-box .lfts p{
    font-size: 2vw;
    line-height: 2.6vw;
    width: 100%;
}
.join-box .lfts .t-btn{
    width: 14vw;
    cursor: pointer;
    transition: .5s;
    margin-top: 1.5vw;
}
.join-box .rigts img{
    width: 44vw;
    transform: translateY(-5vw);
}
.fotr-sec{
    background-image: url(../images/yz\ 1.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vw;
    margin-top: 9vw;
}
.ftr-row{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 17vw;
    padding: 1vw 3vw;
    gap: 5vw;
    flex-direction: column;
}
.clm-1{
    width: 100%;
    text-align: center;
}
.clm-1 p{
    width: 70%;
    font-size: 2.5vw;
    margin: auto;
    line-height: 3.5vw;
}
.clm-1 .h9{
    width: 33vw;
}
.clm-2{
    width: 100%;
    text-align: center;
}
.clm-3{
    width: 100%;
    text-align: center;
}
.clm-1 .icins{
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-top: 1vw;
    justify-content: center;
}
.clm-1 .icins img{
    width: 10vw;
    transition: .5s;
    
}
.clm-2 h4{
    font-size: 6.5vw;
    font-family: hd;
    color:#e5ea59;
    letter-spacing: 2px;

}
.clm-2 ul{
    margin-top: 1.2vw;
}
.clm-2 ul li{
    color: #fff;
    font-size: 2.6vw;
    line-height: 5vw;
    font-family: prg;
    list-style: none;
}
.clm-3 h4{
    font-size: 6.5vw;
    font-family: hd;
    color:#e5ea59;
    letter-spacing: 2px;

}
.clm-3 ul  a{
    color: #fff;
    font-size: 2.6vw;
    margin-top: 3vw;
    transform: translateY(3vw);
}
.clm-3 ul {
    margin-top: 1vw;
}

.enddd{
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding-bottom: 2vw;
    font-size: 2.7vw;
}}
/* ------------------- */
@media (max-width:450px){
    .headr-sec{
        background-image: url(../images/hdr.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 95vw;
    }
}
